* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #388e3c;
}

.container {
  display: grid;
  place-items: center;
  width: 250px;
  padding: 60px 0 40px;
  border-radius: 30px;
  background: #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: 1s ease;
}

@keyframes rolling {
  50% {
    transform: rotateX(455deg) rotateY(455deg);
  }
}